BOOTLOADER=COREBOOT
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
TPM_ENABLE=TRUE
#SYSTEM76_EC_LOGGING=TRUE

# FMP UUIDs for ESRT
SYSTEM_FMP_UUID=546cc02a-e435-4ba3-83c0-6fa96c348d79
EC_FMP_UUID=0b653180-a2a6-4703-8cc1-00de43b8a1fa
