[submodule "edk2"]
	path = edk2
	url = https://github.com/system76/edk2.git
	branch = system76
[submodule "coreboot"]
	path = coreboot
	url = https://github.com/system76/coreboot.git
	branch = system76
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/system76/edk2-platforms.git
	branch = system76
[submodule "tools/unME12"]
	path = tools/unME12
	url = https://github.com/ptresearch/unME12.git
	branch = master
[submodule "tools/unME11"]
	path = tools/unME11
	url = https://github.com/ptresearch/unME11.git
	branch = master
[submodule "tools/UEFITool"]
	path = tools/UEFITool
	url = https://github.com/LongSoft/UEFITool.git
	branch = new_engine
[submodule "libs/intelflash"]
	path = libs/intelflash
	url = https://gitlab.redox-os.org/redox-os/intelflash.git
	branch = master
[submodule "libs/uefi"]
	path = libs/uefi
	url = https://gitlab.redox-os.org/redox-os/uefi.git
	branch = master
[submodule "libs/uefi_alloc"]
	path = libs/uefi_alloc
	url = https://gitlab.redox-os.org/redox-os/uefi_alloc.git
	branch = master
[submodule "libs/uefi_std"]
	path = libs/uefi_std
	url = https://gitlab.redox-os.org/redox-os/uefi_std.git
	branch = master
[submodule "libs/coreboot-table"]
	path = libs/coreboot-table
	url = https://gitlab.redox-os.org/redox-os/coreboot-table.git
	branch = master
[submodule "libs/intel-spi"]
	path = libs/intel-spi
	url = https://github.com/system76/intel-spi.git
	branch = master
[submodule "libs/ecflash"]
	path = libs/ecflash
	url = https://github.com/system76/ecflash.git
	branch = master
[submodule "tools/coreboot-collector"]
	path = tools/coreboot-collector
	url = https://github.com/system76/coreboot-collector.git
	branch = master
[submodule "apps/firmware-update"]
	path = apps/firmware-update
	url = https://github.com/system76/firmware-update.git
	branch = master
[submodule "apps/firmware-setup"]
	path = apps/firmware-setup
	url = https://github.com/system76/firmware-setup.git
	branch = master
[submodule "tools/MEAnalyzer"]
	path = tools/MEAnalyzer
	url = https://github.com/platomav/MEAnalyzer.git
	branch = master
[submodule "libs/coreboot-fs"]
	path = libs/coreboot-fs
	url = https://gitlab.redox-os.org/redox-os/coreboot-fs.git
	branch = master
[submodule "apps/gop-policy"]
	path = apps/gop-policy
	url = https://github.com/system76/gop-policy.git
	branch = master
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	branch = devel-MinPlatform
[submodule "FSP"]
	path = FSP
	url = https://github.com/IntelFsp/FSP.git
	branch = master
[submodule "libs/smmstore"]
	path = libs/smmstore
	url = https://github.com/system76/smmstore.git
	branch = master
[submodule "apps/firmware-smmstore"]
	path = apps/firmware-smmstore
	url = https://github.com/system76/firmware-smmstore.git
	branch = master
