BOOTLOADER=COREBOOT
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
TPM_ENABLE=TRUE
#SYSTEM76_EC_LOGGING=TRUE

# FMP UUIDs for ESRT
SYSTEM_FMP_UUID=2ba3e971-8799-4709-ab2a-7bb28da045f9
EC_FMP_UUID=87f66db7-9f59-4985-80c0-f5db88556203
