BOOTLOADER=COREBOOT
BOOTSPLASH_IMAGE=TRUE
DISABLE_SERIAL_TERMINAL=TRUE
LOAD_OPTION_ROMS=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
SIO_BUS_ENABLE=TRUE
TPM_ENABLE=TRUE
USE_GOP_POLICY=TRUE
VARIABLE_SUPPORT=SMMSTORE
#SYSTEM76_EC_LOGGING=TRUE
