BOOTLOADER=COREBOOT
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
TPM_ENABLE=TRUE
#SYSTEM76_EC_LOGGING=TRUE

# FMP UUIDs for ESRT
SYSTEM_FMP_UUID=0ba5d88e-b62e-424a-8a83-663668ff4319
EC_FMP_UUID=74b6d179-b96b-4ae3-8f68-38ffd421af36
