BOOTLOADER=COREBOOT
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
TPM_ENABLE=TRUE
#SYSTEM76_EC_LOGGING=TRUE

# FMP UUIDs for ESRT
SYSTEM_FMP_UUID=db152fa9-3a66-4071-92c5-3ee90990b7fb
EC_FMP_UUID=43bfc388-b206-4ba7-a4a3-690d28072837
