BOOTLOADER=COREBOOT
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
TPM_ENABLE=TRUE
#SYSTEM76_EC_LOGGING=TRUE

# FMP UUIDs for ESRT
SYSTEM_FMP_UUID=8319b52f-25ca-4eba-a449-4873ba770983
EC_FMP_UUID=059d18e0-7e9e-444c-9f0b-53338775769d
