BOOTLOADER=COREBOOT
BOOT_MANAGER_ESCAPE=TRUE
DISABLE_SERIAL_TERMINAL=TRUE
PLATFORM_BOOT_TIMEOUT=2
PS2_KEYBOARD_ENABLE=TRUE
SD_MMC_TIMEOUT=100000
#SECURE_BOOT_ENABLE=TRUE
SERIAL_DRIVER_ENABLE=FALSE
SHELL_TYPE=NONE
SIO_BUS_ENABLE=TRUE
TPM_ENABLE=TRUE
VARIABLE_SUPPORT=SMMSTORE
#SYSTEM76_EC_LOGGING=TRUE
