CONFIG_VENDOR_SYSTEM76=y
CONFIG_BOARD_SYSTEM76_KUDU6=y
CONFIG_CCACHE=y
CONFIG_CONSOLE_SERIAL=n
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="$(FIRMWARE_OPEN_UEFIPAYLOAD)"
CONFIG_POST_IO=n
CONFIG_SMMSTORE=y
CONFIG_SUBSYSTEM_DEVICE_ID=0x50f2
CONFIG_SUBSYSTEM_VENDOR_ID=0x1558
#CONFIG_CONSOLE_SYSTEM76_EC=y
