CONFIG_VENDOR_EMULATION=y
CONFIG_BOARD_EMULATION_QEMU_X86_Q35=y
CONFIG_CBFS_SIZE=0x800000
CONFIG_CCACHE=y
CONFIG_CONSOLE_QEMU_DEBUGCON=n
CONFIG_CONSOLE_SERIAL=y
CONFIG_COREBOOT_ROMSIZE_KB_8192=y
CONFIG_DRIVERS_EMULATION_QEMU_BOCHS_XRES=1024
CONFIG_DRIVERS_EMULATION_QEMU_BOCHS_YRES=768
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_LINEAR_FRAMEBUFFER=y
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="$(FIRMWARE_OPEN_UEFIPAYLOAD)"
CONFIG_PCIEXP_HOTPLUG=y
CONFIG_POST_IO=n
CONFIG_SMP=y
CONFIG_UART_FOR_CONSOLE=2
CONFIG_USE_BLOBS=n
CONFIG_VGA_BIOS=y
CONFIG_VGA_BIOS_FILE="${FIRMWARE_OPEN_MODEL_DIR}/vga.rom"
CONFIG_VGA_BIOS_ID="1106,3230"
